<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="background">
        <video autoplay muted loop >
        <source src='/images/2268807-hd_1920_1080_24fps.mp4' type="video/mp4">
            The broser doesnt allow this element . 
        </video>
    </div>