<div class="nav-bar">
    <button name="sign" ><a href="/sign">Sign Up</a></button>
    <button name="log"><a href="/">Log In</a></button>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/js/index.js" charset="utf-8"></script>
<script src="/js/check-password.js" charset="utf-8"></script>
<script src="/js/check_username.js" charset="utf-8"></script>
<script src="/js/password_error.js" charset="utf-8"></script>
</body>
</html>